In [1]:
import pandas as pd
import tweepy
import string
from mtranslate import translate
import re

In [2]:
users=pd.read_csv(r"C:\Users\tareq\Desktop\p2\Data\unique_usernames.csv")

In [3]:
consumer_key = 'Noe1Th6c3f3dd376arHvxk3oc'
consumer_secret = 'vKJ6eO6USUcRGojCy3fulwvPFJ5tPvBPVJxVp4p5JF3IR9swpg'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

In [4]:
api = tweepy.API(auth)

In [ ]:
data=[]
for username in users['username']:
    try:
        all_tweets = [tweet._json for tweet in tweepy.Cursor(api.user_timeline, screen_name=username, tweet_mode='extended',exclude_replies=True,include_rts=True).items(200)]
        data.append([username,all_tweets])
    except Exception as e:
        print(f'error:{e},username:{username}')

In [145]:
import json  
save_file = open("tweets_status.json", "w")  
json.dump(data, save_file, indent = 6)  
save_file.close()

In [2]:
import pandas as pd
df=pd.read_csv(r"C:\Users\tareq\Desktop\p2\Data\f\Username_Fulltext.csv")

In [3]:
df

,Unnamed: 0,Username,Full_Text,Lang,Created_At
0,0,KeneAkers,The magnifying glass has focused on the Black ...,en,Tue Apr 11 01:26:39 +0000 2023
1,1,KeneAkers,Don't forget; the Rodney King Verdict was only...,en,Tue Apr 11 01:11:28 +0000 2023
2,2,KeneAkers,"1997: Approximately 750,000 Black women respon...",en,Tue Apr 11 01:01:53 +0000 2023
3,3,KeneAkers,I’m going to set this down very carefully here...,en,Tue Apr 11 00:50:45 +0000 2023
4,4,KeneAkers,What in the hell is going on America! https://...,en,Tue Apr 11 00:39:31 +0000 2023
...,...,...,...,...,...
277546,277546,tmj_slc_pharm,Can you recommend anyone for these 6 #Pharmace...,en,Mon Jun 25 14:05:26 +0000 2018
277547,277547,tmj_slc_pharm,Can you recommend anyone for these 6 #Pharmace...,en,Sun Jun 24 14:05:17 +0000 2018
277548,277548,tmj_slc_pharm,Check out our 6 latest #Pharmaceutical opening...,en,Sat Jun 23 14:05:11 +0000 2018
277549,277549,tmj_slc_pharm,We have 6 #Pharmaceutical #jobs open today in ...,en,Fri Jun 22 14:05:02 +0000 2018
277550,277550,tmj_slc_pharm,Now hiring for 4 #Pharmaceutical #job opportun...,en,Thu Jun 21 14:04:56 +0000 2018